<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Entrar</h2>
    <input type="text" class="input-block-level" placeholder="E-mail">
    <input type="password" class="input-block-level" placeholder="Senha">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Lembrar-se
    </label>
    <button class="btn btn-large btn-primary" type="submit">Entrar</button>
  </form>
</div> <!-- /container -->